* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#home-body {
	background-color: orangered;
}

#feedback-body {
    background: url('../IMG/beach.jpeg') no-repeat center center fixed;
}

#aboutme-body {
background:url('https://images.pexels.com/photos/358457/pexels-photo-358457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center fixed;
}

#contact-body {
    background: url('../IMG/dawn.jpg') no-repeat center center fixed;
}

nav {
    top: 0px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: orangered;
}

li {
    list-style: none;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    z-index: 100;
    color: black;
    margin-top: 40vh;
    letter-spacing: 5px;
    margin-left: 10vw;
    margin-right: 10vw;
    animation-name: fade-in1;
    animation-duration: 4s;
    animation-delay: 0s;
}

#cap {
    color: white;
}

.logo {
    color: white;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Felipa', sans-serif;
    cursor: pointer;
    text-align:center;
    justify-content: space-around;
    width:50vw;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.bar div {
    display: none;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1080px) {
    .nav-links {
        position: absolute;
        right: 0px;
        display: flex;
        flex-direction: column;
        height: 25vh;
        align-items: center;
        top: 8vh;
        width: 100vw;
        background-color: orangered;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
	font-size: 2vh;
	margin-bottom:3px;
	}
    .nav-links li {
        opacity: 0;
    }
    .bar div {
        display: block;
        cursor: pointer;
    }
    #header {
        font-size: 20px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navSlideIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

#header-about {
    position: relative;
    font-size: 90px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    animation-name: fade-in1;
    animation-duration: 1s;
    animation-delay: 0s;
}

#feedback {
    margin: 20px;
    padding: 30px;
    border: 2px solid wheat;
    border-radius: 20px;
    animation-name: fade-in1;
    animation-duration: 2s;
    animation-delay: 0s;
}

#header-feedback {
    position: relative;
    color: white;
    font-size: 70px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    letter-spacing: 8px;
    font-weight: bold;
    font-family: 'Open Sans Condensed',sans-serif;
    text-align: center;
    animation-name: fade-in1;
    animation-duration: 1s;
    animation-delay: 0s;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 10px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.col-100 {
    float: right;
    width: 100%;
    margin-top: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    color: white;
}

#skilloption {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

select {
    background-color: black;
}

::placeholder {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

input[type=submit] {
    background-color: orangered;
    color: white;
    float: right;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 12px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

input[type=submit]:hover {
    color: orangered;
    background-color: white;
    cursor: pointer;
    border: 2px solid orangered;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width: 720px) {
    .col-25, .col-75, input[type=text] {
        width: 100%;
    }
}

#pane1 {
    height: auto;
    padding-top: 60px;
    padding-bottom: 200px;
}


#iiitintro {
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    animation-name: fade-in1;
    animation-duration: 4s;
    animation-delay: 0s;
}

@keyframes fade-in1 {
    from {
        opacity:0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in2 {
    from {
        opacity:0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-out1 {
    from {
        opacity:1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(-100px);
    }
}

#pane2 {
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.slide {
    animation-name: fade-in1;
    animation-duration: 3s;
}

#place-box {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
    line-height: 3;
    padding: 35px;
    color: white;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    letter-spacing: 2px;
    text-align: justify;
}

#pane3 {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

#imgarea {
    width: auto;
    height: 500px;
}

#sam {
    width: auto;
    height: 500px;
}

#pane4 {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.yellow {
    text-decoration: none;
    color: #fcffc1;
}

.grey {
    text-decoration: none;
    color: grey;
}

.grey:hover, .yellow:hover {
    color: orangered;
}

#header-contact {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 50px;
    color: yellow;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: bold;
    cursor: pointer;
    animation: fade-in1;
    animation-duration: 1s;
    animation-delay: 0s;
}

#boxes {
    position: relative;
    padding: 40px;
    animation: fade-in1;
    animation-duration: 2s;
    animation-delay: 0s;
}

.box:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.box-header {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.box-elements {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
}

.line {
    height: 2px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: grey;
    margin-bottom: 40px;
}

@media screen and (max-width:1080px) {
    .box {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 10%;
        background-color: rgba(0, 0, 0, 0.2);
	padding:20px;
	height:auto;
    }
}

@media screen and (min-width:1080px) {
    .box {
        background-color: rgba(0, 0, 0, 0.2);
        height: 230px;
        float: left;
        width: 30%;
        padding: 20px;
        margin-left: 2.5%;
    }
}

#iconsdiv {
    clear: both;
    height: 100px;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fade-in1;
    animation-delay: 0s;
    animation-duration: 4s;
}

.icons {
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.icons:hover {
    filter: brightness(0) invert(1);
}

#gitlab {
    width: 70px;
    height: 70px
}

table {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    animation-name: fade-in1;
    animation-delay: 0s;
    animation-duration: 4s;
}

table, th {
    border: 3px solid orangered;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: yellow;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

td {
    border: 3px solid orangered;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;   
}

@media screen and (max-width:720px) {
    #header-feedback {
        font-size: 40px;
    }
    table, th {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        letter-spacing: 2px;
        overflow-x: scroll;
    }
    td {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        letter-spacing: 2px;   
    }
}

#qualities-header {
    color: white;
    font-size: 70px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 100px;
}

.lists {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
}

#somemore {
    color: orangered;
    margin-top: 50px;
    letter-spacing: 2px;
    font-size: 40px;
}

#active {
    color: yellow;
}

#active:hover {
    color: black;
}

#tableinput {
    text-align: center;
}

#likes {
    padding: 50px;
    text-align: center;
    animation-name: fade-in1;
    animation-duration: 4s;
    animation-delay: 0s;
}

#like {
    height:100px;
    width: 100px;
}

#like:hover {
    filter: grayscale(50%);
    cursor: pointer;
}

#count {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
    color: white;
    letter-spacing: 5px;
}

#pre-count {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: 5px;
}

.slideain {
    visibility: visible;
    animation-name: fade-in1;
    animation-duration: 2s;
    animation-delay: 0s;
}

.anibox {
    visibility: hidden;
}

.slidein {
    animation-name: fade-in2;
    animation-duration: 0.5s;
}
